// @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$baseColor: rgb(184, 184, 184);
// $baseFont: 'Roboto', sans-serif;
$baseFont: 'Open Sans', sans-serif;
$baseFontSize: 1rem;

body {
  margin: 0;
  padding: 0;
  font-size: $baseFontSize;
  background-color: $baseColor;
  font-family: $baseFont; 
}

#loading-div {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 200%;
}


.parent{
  margin: 0 auto;
  display: block;
  height: 222px;
  width: 450px;
  background-color: rgb(248, 248, 248);
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

/* SMALL */
#graphdiv {
  width: 100%;
  height: 100%;
  transform: translateX(-15px)translateY(10px);

  .dygraph-ylabel { 
    text-align: center; 
    transform: translateX(25px)rotate(-90deg);
  }
  .dygraph-xlabel { 
    margin: 5px; 
    text-align: center; 
    margin: 5px; 
    transform: translateY(-10px);
  }
}



#values-form {
  display: flex;
  justify-content: space-around;
}




input[type=text] {
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 90%;
}


button {
    /* width: 100%; */
    background-color: #4e4e4e;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 90%;
}

button:hover {
    background-color: #45a049;
}

// CHECKBOX
input[type=checkbox] {
  display: none;
}

label {
  cursor: pointer;
  position: relative;
  &:before {
    content: '';
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    vertical-align: middle;
    
  }
  input[type=checkbox]:checked + &:before {
    background-color: rgb(107, 107, 255);
  }
  input[type=checkbox]:checked + &:after {
    content: '\2714';
    font-size: 150%;
    color: white;
    display: inline-block;
    position: absolute;
    left: 0rem;
    top:-0.5rem;
  }
}


.dygraph-axis-label {
  font-size: 60%;
}
.dygraph-label {
  font-size: 100%;
  font-weight: bold;
}


/* LEGEND small screen */
#legenddiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(2.5rem, auto);
  font-size: 75%;

  .legend-arvot{
    display: grid;
    grid-template-columns: 1fr;
    // justify-self: center;
    &:nth-of-type(1) {
      grid-column-start: 2;
    }
    &:nth-of-type(7) {
      grid-column-start: 2;
    }
    span {
      font-weight: bold;
      font-size: 110%;
    }
  }
  #legend-aika {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-items: center;
    span {
      font-weight: bold;
      font-size: 110%;
    }
  }
}

@media (min-width: 550px){
  #legenddiv {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
    .legend-arvot{
      display: block;
      &:nth-of-type(1) {
        grid-column-start: 2;
      }
      span {
        font-weight: bold;
        font-size: 110%;
      }
    }
    #legend-aika {
      display: block;
    }
  }
}

#info {
  margin: 5px 5% 0 5%;
  #zooming {
    margin: 5px 0;
    display: grid;

    #zooming-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      button {
        padding: 0;
        margin: 0 5;
        background-color: #473c83;
        &:hover {
          background-color: rgb(0, 122, 122);
        }
      }
    }

    #zooming-inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      button {
        grid-column: 1 /span 2;
      } 
    }
  }
}



// MIXIN
$widthHeightRatio: 0.465;
@mixin parentResponsive($minWidth, $fontSize, $f) {
  @media (min-width: $minWidth){
    .parent {
      width: $minWidth - 20px;
      height: ($minWidth - 20px) * $widthHeightRatio;
    }
    
    body {
      font-size: $fontSize;
    }
    
    .dygraph-axis-label {
      font-size: $f;
    }

    .dygraph-label {
      font-size: $f * 1.3;
    }

    label {
      &:before {
        width: $fontSize;
        height: $fontSize;
      }
    }

    @if $minWidth >= 550px {
      #zooming-inputs {
        grid-template-columns: 1fr 1fr 1fr !important;
        button {
          grid-column: span 1 !important;
          display: block;
        }
      }
    } 

  }
}



@include parentResponsive(550px,  1   * $baseFontSize, 65%);
@include parentResponsive(650px,  1.1 * $baseFontSize, 65%);
@include parentResponsive(750px,  1.2 * $baseFontSize, 65%);
@include parentResponsive(850px,  1.3 * $baseFontSize, 95%);
@include parentResponsive(1000px, 1.4 * $baseFontSize, 95%);
@include parentResponsive(1200px, 1.5 * $baseFontSize, 95%);
@include parentResponsive(1500px, 1.6 * $baseFontSize, 95%);